/* Swiper pagination position fix */
.swiper-pagination {
  bottom: -6px !important;
}

.swiper-pagination-bullet {
  background: #94a3b8; /* slate-400 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2563eb; /* blue-600 */
}
nav a.active {
  color: #2563eb;
}
